.edit-profile__form {
  img {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 50%;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
