extends ../base

block content
  form(method="POST")
    input(name="oldPassword", placeholder="Old Password", type="text")
    input(name="newPassword", placeholder="New Password", type="text")
    input(name="newPasswordConfirmation", placeholder="New Password Confirmation", type="text")
    input(value="Change Password", type="submit")